---
layout: default

title:
    en: Home
    ar: Home
description:
    en: OurRagingPlanet assists teachers and educators in demonstrating the need for resilience and the implications of natural disasters upon local services and surroundings.
    ar: OurRagingPlanet assists teachers and educators in demonstrating the need for resilience and the implications of natural disasters upon local services and surroundings.
---
{% if site.active_lang == "en" %}{% include index-body.en.html %}{% elsif site.active_lang == "ar" %}{% include index-body.ar.html %}{% endif %}