<template>
    <div id='home-page'>
        <alert v-for="alert in alerts" :type="alert.type">
            {{ alert.content }}
        </alert>

        <h1>Simulations</h1>

        <div v-for="simulation in simulations">
            <simulation :simulation="simulation">
            </simulation>
        </div>
    </div>
</template>

<script>
    import simulation from './Simulation.vue';

    export default {
        data () {
            return {
                simulations: []
            }
        },

        mounted () {
            this.$http.get('/api/simulations').then(response => {
                this.simulations = response.data;
            }, response => {
                this.$store.commit('addAlert', ['danger', "Couldn't get your simulations!"]);
            });
        },

        computed: {
            alerts () {
                return this.$store.state.alerts;
            }
        }
    }
</script>
