<template>
    <div class='leaflet-page'>
      <lmap :zoom="zoom" max-zoom="16" :center="center" class='leaflet-map'>
        <ltilelayer :provider="provider"></ltilelayer>
        <lheatmap :heatpoints="heatpoints"></lheatmap>
        <div v-for='f in features'>
            <lfeaturemarker v-on:popover="popover" :feature="f" :health="getHealth(f.state.id)"></lfeaturemarker>
        </div>
        <lpanel v-show="sortedInformationals.length" ref="newsticker" class="leaflet-panel-newsticker" title="NEWSFEED" color="#ed1c24">
            <li v-for="informational in sortedInformationals">
                <component :is='classes[informational.class]' :informational='informational'></component>
                <li><hr/></li>
            </li>
        </lpanel>
        <lpanel v-show="tasks.length" ref="tasklist" class="leaflet-panel-tasks" title="TASKS" color="#26ab43">
            <li v-for="task in tasks">
                <task :task='task'></task>
            </li>
        </lpanel>
        <lpopover v-if='popoverContent' :content='popoverContent' v-on:hide='popoverContent = false'></lpopover>
        <lpopoverplain v-if='popoverPlainContent' :content='popoverPlainContent' v-on:hide='popoverPlainContent = false'></lpopoverplain>
      </lmap>
    </div>
</template>

<script>
  import ltilelayer from './leaflet/TileLayer.vue';
  import lmap from './leaflet/Map.vue';
  import lmarker from './leaflet/Marker.vue';
  import lfeaturemarker from './leaflet/FeatureMarker.vue';
  import lpanel from './leaflet/Panel.vue';
  import lpopover from './leaflet/Popover.vue';
  import lpopoverplain from './leaflet/PopoverPlain.vue';
  import lheatmap from './leaflet/Heatmap.vue';
  import task from './Task.vue';

    import notification from './leaflet/newsticker/Notification.vue'
    import newsflash from './leaflet/newsticker/Newsflash.vue'
    import socialMedia from './leaflet/newsticker/SocialMedia.vue'

  export default {
    props: {
      center: {default: [54.800, -6.512]},
      informationals: {default: []},
      tasks: {default: () => []},
      zoom: {default: 10},
      features: {default: []},
      simulationState: {
          type: Object,
          default: function () { return {points: [], featureStates: {}} }
      }
    },

    data () {
      return {
        provider: 'Stamen.Toner',
        popoverContent: false,
        popoverPlainContent: false,
        classes: {
            'social-media': 'socialMedia',
            'newsflash': 'newsflash',
            'notification': 'notification'
        }
      }
    },

    components: {
      'ltilelayer': ltilelayer,
      'lmap': lmap,
      'lmarker': lmarker,
      'lfeaturemarker': lfeaturemarker,
      'lpanel': lpanel,
      'lpopover': lpopover,
      'lpopoverplain': lpopoverplain,
      'lheatmap': lheatmap,
      'socialMedia': socialMedia,
      'newsflash': newsflash,
      'notification': notification,
      'task': task
    },

    computed: {
        heatpoints () {
            return this.simulationState.points;
        },
        sortedInformationals() {
            return this.informationals.sort(function (a, b) {
                if (a.timeOffset < b.timeOffset) {
                    return -1;
                }
                if (a.timeOffset > b.timeOffset) {
                    return 1;
                }
                return 0;
            });
        }
    },

    watch: {
        informationals() {
            this.$refs.newsticker.regenerate();
        },

        tasks() {
            this.$refs.tasklist.regenerate();
        }
    },

    created() {
        var popover = this.popover;
        this.$bus.$on('popover', function (content) { popover(content); });
        var popoverPlain = this.popoverPlain;
        this.$bus.$on('popover-plain', function (content) { popoverPlain(content); });
    },

    methods: {
        popover (content) {
            this.popoverContent = content;
        },
        popoverPlain (content) {
            this.popoverPlainContent = content;
        },
        getHealth (state_id) {
            if (state_id in this.simulationState.featureStates) {
                return this.simulationState.featureStates[state_id].health;
            }

            return 100;
        }
    }
  }
</script>

<style>
    .leaflet-panel-newsticker {
        position: absolute;
        top: 5%;
        left: 100px;
        z-index: 10;
        max-width: 20%;

    }

    .leaflet-panel-tasks {
        position: absolute;
        bottom: 5%;
        left: 100px;
        z-index: 10;
        max-width: 20%;

    }

    .leaflet-page {
        display: flex;
        flex-direction: column;
    }

    .leaflet-map {
        flex: 1 1 auto;
    }
</style>
