<template>
    <div id="panel-page" v-if="simulation">
        <div :style="{color: phenomenon.color}"
              class="panel-page__heading">
                <img style="vertical-align: middle" :src="phenomenon.symbol" class="panel-page__phenomenon-symbol" />
                <div style="display: inline-block; vertical-align: middle; width: 80%">
                    <span class="panel-page__phenomenon-header">
                        {{ phenomenon.name }}
                    </span>
                    <span class="panel-page__caption-header">
                        {{ simulation.caption }}
                    </span>
                    <span class="panel-page__time-header pull-right">
                        [ {{ timeString }} ]
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="pull-right" style="width: 10%">
                    <img style="vertical-align: middle; right: 10px" src='/images/leaflet/assist.png' class="panel-page__phenomenon-symbol" v-on:click="assist" />
                    <img style="vertical-align: middle; right: 60px" src='/images/leaflet/help.png' class="panel-page__phenomenon-symbol" v-on:click="help" />
                </div>
                <div class="clearfix"></div>
        </div>

        <leaflet id='leaflet-page' :informationals="informationals" :tasks="tasks" :features="features" :center="center" :zoom="15" :simulation-state="simulationState"></leaflet>

        <div id='timeline'>
            <timelinepick :option="tloptions" :width="tlwidth" :height="tlheight" :handler="changeAction"></timelinepick>
        </div>

        <alert v-for="alert in alerts" :type="alert.type">
            {{ alert.content }}
        </alert>
    </div>
</template>

<script>
    import informational from './Informational.vue';
    import leaflet from './Leaflet.vue';
    import timelinepick from './timeline/vue-timelinepick.vue';

    export default {
        props: [
            'simulationId'
        ],

        data () {
            return {
                simulation: undefined,
                featureStates: [],
                informationals: [],
                tasks: [],
                simulationState: {points: [], featureStates: {}},
                time: Date.now(),
                tloptions: {
                    threshold: new Date(),
                    "number": 47,
                    spanMinMax: 5,
                    isFixedDrag: true,
                    spanIndex: {start: 40, end: 45},
                    type: "quarter",
                    dateFormat: 'yyyy-MM-ddTmm:hh:ssZ'
                },
                tlwidth: 1200,
                tlheight: 150
            }
        },

        mounted () {
            this.$http.get('/api/simulations/' + this.simulationId).then(response => {
                this.simulation = response.data;
            }, response => {
                this.$store.commit('addAlert', ['danger', "Couldn't get your simulation!"]);
            });

            this.$http.get('/api/feature-states?simulation_id=' + this.simulationId).then(response => {
                this.featureStates = response.data;
            }, response => {
                this.$store.commit('addAlert', ['danger', "Couldn't get the status of your features!"]);
            });

            this.$http.get('/api/tasks?simulation_id=' + this.simulationId).then(response => {
                this.tasks = response.data;
            }, response => {
                this.$store.commit('addAlert', ['danger', "Couldn't get your information notifications!"]);
            });

            this.$http.get('/api/informationals?simulation_id=' + this.simulationId).then(response => {
                this.informationals = response.data;
            }, response => {
                this.$store.commit('addAlert', ['danger', "Couldn't get your information notifications!"]);
            });
        },

        components: {
            leaflet: leaflet,
            informational: informational,
            timelinepick: timelinepick
        },

        computed: {
            alerts () {
                return this.$store.state.alerts;
            },

            phenomenon () {
                return this.simulation.phenomenon;
            },

            timeString() {
                var time = new Date(this.time);
                var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                var hours = (time.getHours() > 9 ? time.getHours() : '0' + time.getHours());
                var mins = (time.getMinutes() > 9 ? time.getMinutes() : '0' + time.getMinutes());

                return days[time.getDay()] + ', ' + months[time.getMonth()] + ' ' + time.getDate() + ', ' + time.getFullYear() + ' at ' + hours + ':' + mins;
            },

            center () {
                var center = Array.prototype.slice.call(this.simulation.center.coordinates);
                center.reverse();
                return center;
            },

            features() {
                if (!this.featureStates || !this.featureTypes) {
                    return [];
                }

                var featureTypes = this.featureTypes;
                return this.featureStates.map(function (fs) {
                    fs.feature.state = fs;
                    fs.feature.type = featureTypes[fs.feature.feature_type_id];
                    return fs.feature;
                });
            }
        },

        asyncComputed: {
            featureTypes() {
                return this.$http.get('/api/feature-types').then(response => response.data);
            },
            simulationState() {
                if (this.simulation) {
                    var win = [
                        this.simulation.center.coordinates[1] - 0.05,
                        this.simulation.center.coordinates[0] - 0.1,
                        this.simulation.center.coordinates[1] + 0.05,
                        this.simulation.center.coordinates[0] + 0.1
                    ];

                    return this.$http.get('/api/simulations/' + this.simulationId + "/result?time=" + this.time + "&window=" + JSON.stringify(win)).then(response => response.data);
                }
                return Promise.resolve({points: [], featureStates: {}});
            }
        },

        methods: {
            changeAction (e) {
                var startTime = new Date(e.startTime.replace(' ', 'T'));
                var endTime = new Date(e.endTime.replace(' ', 'T'));
                console.log(e.startTime);
                this.time = (startTime.getTime() + endTime.getTime()) / 2;
            },
            assist () {
                this.$bus.$emit('popover-plain', "<h1>Assistance</h1> <p>This button will alert a teacher to the need for assistance</p>");
            },
            help () {
                this.$bus.$emit('popover-plain', "<h1>Help!</h1> <p>This section will describe the basic scientific context, as well as some of the features and functionality of the interface.</p>");
            }
        }

    }
</script>

<style>
    .panel-page__heading {
        padding: 10px;
        background: black;
        height: 80px;
        flex: none;
        width: 100%;
    }

    .panel-page__phenomenon-symbol {
        height: 100px;
        position: absolute;
        z-index: 10;
    }

    .panel-page__phenomenon-header {
        font-weight: bold;
        font-family: 'Bebas Neue';
        padding-left: 70px;
        font-size: 42pt;
        line-height: 1;
    }

    .panel-page__caption-header {
        font-size: 32pt;
        font-family: 'Bebas Neue';
        color: white;
    }

    .panel-page__time-header {
        font-size: 16pt;
        color: white;
        font-family: monospace;
        padding-left: 30px;
    }

    #timeline {
        background: black;
        width: 100%;
        text-align: center;
        flex: none;
    }

    #timeline {
        height: 180px;
    }

    .v-timeline {
        display: inline-block;
    }

    #leaflet-page {
        flex: 1 1 auto
    }

    #panel-page {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
</style>
<style src="./timeline/vue-timelinepick.css" />
