<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div :style="{color: phenomenon.color}" class="panel-heading">
                            <img style="vertical-align: middle" :src="phenomenon.symbol" class="simulation__phenomenon-symbol" />
                            <div style="display: inline-block; vertical-align: middle">
                                <span class="simulation__phenomenon-header">
                                    {{ phenomenon.name }}
                                </span>
                                <span class="simulation__caption-header">
                                    {{ simulation.caption }}
                                </span>
                            </div>
                        </span>
                    </div>

                    <div class="panel-body">
                        <a :href="'/view/' + simulation.id">Find out more...!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'simulation'
        ],

        mounted() {
            console.log('Component ready.')
        },

        computed: {
            phenomenon: function() {
                return this.simulation.phenomenon;
            }
        }
    }
</script>

<style>
    .simulation__phenomenon-symbol {
        height: 60px;
        padding-right: 10px;
    }

    .simulation__phenomenon-header {
        font-weight: bold;
        font-size: xx-large;
    }

    .simulation__caption-header {
        font-size: x-large;
        font-weight: bold;
    }
</style>
