---
layout: default

title:
    en: News
    ar: أخبار
description:
    en: Keep up to date with our latest news.
    ar: ابق على علم بآخر أخبارنا.
---
        <section class="landing">
            <div id="content-bg">
                <div class="content">
                    <h1>{{ site.data[site.active_lang].pages.news }}</h1>
                    <p class="caption">{{ site.data[site.active_lang].desc.news }}</p>
                </div>
            </div>
        </section>
        <section class="news-posts">
            <div class="content">
                <h2>{{ site.data[site.active_lang].news.latest }}</h2>
                {% for post in paginator.posts %}
                    {% include list-story.html %}
                {% endfor %}
                {% include news-paginator.html %}
            </div>
        </section>