    </main>
    <footer>
        <p><span class="site-red">&copy;</span> <span id="current-year">0000</span> OurRagingPlanet. All rights reserved.</p>
        <p>Website designed by <a href="http://davyk17.github.io/" target="_blank">Davy Kamanzi</a></p>
    </footer>

    <!-- JAVASCRIPT / Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- JAVASCRIPT / jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-visible-master/jquery.visible.min.js"></script>

    <!-- JAVASCRIPT / Local -->
    <script type="text/javascript" src="/assets/js/main.js" async></script>
</body>

</html>