    </main>
    <footer>
        <p>{{ site.data[site.active_lang].footer.copy }}</p>
        <p>{{ site.data[site.active_lang].footer.dev }}</p>
    </footer>

    <!-- JAVASCRIPT / Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- JAVASCRIPT / jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-visible/jquery.visible.min.js"></script>

    <!-- JAVASCRIPT / Local -->
    <script type="text/javascript" src="/assets/js/main.js" async></script>
    
    <!-- JAVASCRIPT / Netlify CMS -->
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
    </script>{% if page.name == "contact.en.html" or page.name == "contact.ar.html" %}

    <!-- JAVASCRIPT / Contact Form -->
    <script>
        const form = document.getElementById("contact-form");

        const handleSubmit = async(event) => {
            event.preventDefault();
            const formSuccess = document.getElementById("contact-form-success");
            const formError = document.getElementById("contact-form-error");
            const data = new FormData(event.target);

            try {
                const response = await fetch(event.target.action, {
                    method: form.method,
                    body: data,
                    headers: {
                        'Accept': 'application/json'
                    }
                });
                if (response) {
                    form.style.display = "none";
                    formSuccess.style.display = "block";
                    formSuccess.innerHTML = "{{ site.data[site.active_lang].contact.success }}";
                    form.reset();
                }
            } catch (error) {
                formError.style.display = "block";
                formError.innerHTML = "{{ site.data[site.active_lang].contact.error }}";
            }
        }

        form.addEventListener("submit", handleSubmit);
    </script>{% endif %}
</body>

</html>