        <section id="home" class="landing">
            <div id="content-bg">
                <div class="content">
                    <h1>Our chaotic world in context</h1>
                    <p class="caption">Bring home the impact of natural disasters</p>
                    <video alt="Opening video" controls>
                        <source type="video/webm" src="/assets/video/demo.webm">
                        <source type="video/mp4" src="/assets/video/demo.mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="content">
                <h2 class="visually-hidden">About</h2>
                <img class="section-header-img" src="/assets/img/product_bg.png" />
                <p class="section-title">How would the earthquakes of the Pacific Rim or the storm surges of the Americas affect Northern Ireland?</p>
                <p class="section-subtitle">OurRagingPlanet assists teachers and educators in demonstrating the need for resilience and the implications of natural disasters upon local services and surroundings. Bring simulations to life!</p>
                <p>OurRagingPlanet is a human impact education tool that allows students to view basic simulations of disasters in their area, using public data to estimate the impact on familiar local landmarks. The web-based tool works on modern desktop
                    and tablet systems.</p>
                <p>Maps, landmarks and street asset locations are collected from local open data sources, giving learners a realistic view of their virtual surroundings.</p>
                <p>This product is not endorsed by any public body. This educational software is not intended to provide accurate simulation of natural phenomena and should not be used to estimate disaster outcomes in susceptible areas.</p>
            </div>
        </section>
        <section id="features">
            <div class="content">
                <h2 class="section-title">List of Features and Benefits</h2>
                <p class="section-subtitle">Product details</p>
                <div class="features-list">
                    <ul>
                        <li><strong>Follow the timeline as events unfold!</strong> See news reports and generate tasks based off the disaster you have simulated, whether it be hours or even days, with accurating scaling</li>
                        <li>Tasks can be refined down to the lesson plan, and also tailored for each natural disaster</li>
                        <li>Combine physical and human geography together by exploring not only the physical effects of a disaster, but the impact upon social life</li>
                        <li><strong>Contextualise with local data!</strong> Using OpenStreetMap, we have populated OurRagingPlanet's software with Northern Irish landmarks and features</li>
                        <li>Our list of simulations includes earthquakes, storm surges, volcanic eruptions and sandstorms, bringing social, economic and cultural resilience to life</li>
                    </ul>
                    <img src="/assets/img/screenshot-orp.png" />
                </div>
            </div>
        </section>
        <section id="features-list">
            <div class="content">
                <div class="features-box">
                    <img src="/assets/img/icons/icon-earthquake.svg" alt="Earthquakes" />
                    <h3>Earthquakes</h3>
                    <p>Our earthquake simulations allow learners to focus the epicentre of the disaster on their chosen geographical location. See how the disaster would unfold - including danger rings, which landmarks and local features would be most affected,
                        andhow this spans across hours and days!</p>
                </div>
                <div class="features-box">
                    <img src="/assets/img/icons/icon-flood.svg" alt="Hurricane Storm Surges" />
                    <h3>Hurricane Storm Surges</h3>
                    <p>Explore how a storm surge affects an area and understand the height the surge could reach. They visually retain an understanding of natural disasters, the need for resilience and the impact on individuals in those contexts.</p>
                </div>
                <div class="features-box">
                    <img src="/assets/img/icons/icon-volcano.svg" alt="Volcanic Eruptions" />
                    <h3>Volcanic Eruptions</h3>
                    <p>Learners will see the effect of a volcano on their local water and electricity supplies, and include disaster details such as lava flow to see the flow rate in different topographies.</p>
                </div>
                <div class="features-box">
                    <img src="/assets/img/icons/icon-sandstorm.svg" alt="Sandstorms" />
                    <h3>Sandstorms</h3>
                    <p>Sandstorm simulations allow learners to see how desert regions experience sand and dust storms and how they manage the after effects. Using Saudi Arabian open data, students can simulate what it would be like to be a student in Riyadh
                        or Dhahran!</p>
                </div>
            </div>
        </section>
        <section id="resources">
            <div class="content">
                <h2 class="section-title">Resources for Educators</h2><!--
                <p class="section-subtitle">Educators</p>-->
                <p>Click on the icons to download a PDF for each simulation.</p>
                <div class="resources-list">
                    <a href="#" target="_blank">
                        <img src="/assets/img/icons/icon-earthquake.svg" alt="Earthquakes" />
                    </a>
                    <a href="/assets/pdf/hurricane-storm-surge-example-tasks.pdf" target="_blank">
                        <img src="/assets/img/icons/icon-flood.svg" alt="Hurricane Storm Surges" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="/assets/img/icons/icon-volcano.svg" alt="Volcanic Eruptions" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="/assets/img/icons/icon-sandstorm.svg" alt="Sandstorms" />
                    </a>
                </div><!-- 
                <p class="section-subtitle">Learners</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare porta diam, non consectetur erat varius quis. Morbi eleifend pulvinar elit sit amet condimentum. Sed lectus massa, molestie nec sollicitudin sed, accumsan id mauris.
                    Maecenas interdum eu massa sed molestie. Proin congue urna sapien, nec vulputate felis feugiat nec. Aliquam in feugiat magna. Praesent venenatis commodo metus nec finibus. Nulla sit amet molestie lectus, eget lobortis nisl. Vivamus
                    aliquam eros id dignissim aliquet. Sed sed faucibus risus. Nam rhoncus mauris ut lectus maximus posuere. Duis quam libero, accumsan at vehicula nec, faucibus sit amet ex. Suspendisse vulputate dolor efficitur mi fermentum pretium.
                    Nullam gravida pellentesque turpis in blandit.</p> -->
            </div>
        </section>