
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

nav.navbar {
  margin-bottom: 0px;

  .container .navbar-brand {
    padding: 0px;
    white-space: nowrap;

    img {
      height: 50px;
    }

    span {
      display: inline-block;
    }
  }
}

html, body, #app {
    height: 100%
}

body {
    font-family: 'Bebas Neue';
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue';
    font-weight: bold;
}
