* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


/* General elements */

html {
    font-size: 16px !important;
}

body {
    background: #111739 url('/assets/img/backgrounds/landing.jpg') no-repeat fixed center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    max-width: 100%;
    font-family: "Open Sans", sans-serif !important;
    color: white !important;
    line-height: 1.2;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1000px;
    padding: 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Landing page */

.logo {
    width: 300px;
    height: auto;
}

h1 {
    text-transform: uppercase;
    font-weight: 600 !important;
}

.caption {
    font-size: 1.75rem;
}

h1,
.caption {
    filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5))
}

.content {
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 1s;
    transition-property: opacity, transform;
    transition-timing-function: ease;
}

video {
    height: 500px;
    width: auto;
    margin: 2rem 0;
}

.enter {
    width: 200px;
    background-color: #bd1714;
    color: white;
    text-transform: uppercase;
    border: unset;
    border-radius: 7.5px;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
}

.enter:hover {
    background-color: #e7201d;
    transition: background-color 0.25s ease-in-out;
}


/* Media queries */

@media (max-width: 991px) {
    main {
        height: auto;
    }
    .content {
        margin: 3rem 0;
    }
    video {
        width: 100%;
        height: auto;
    }
}