* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


/* General elements */

html {
    font-size: 16px !important;
}

body {
    background: white no-repeat fixed center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    max-width: 100%;
    font-family: "Open Sans", sans-serif !important;
    line-height: 1.2;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.site-red {
    color: #bd1714;
}