* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


/* General elements */

html {
    font-size: 16px !important;
}

body {
    position: relative;
    background: #111739 url('/assets/img/backgrounds/landing.jpg') no-repeat fixed center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    max-width: 100%;
    font-family: "Open Sans", sans-serif !important;
    line-height: 1.2;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.lowercase {
    text-transform: lowercase !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.capitalize {
    text-transform: capitalize !important;
}

.normal {
    font-weight: normal !important;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.bold,
strong {
    font-weight: 700 !important;
}

.italic,
em {
    font-style: italic !important;
}

.site-red {
    color: #bd1714;
}

.site-darkblue {
    color: #111739;
}

[data-bs-toggle="tooltip"] {
    cursor: pointer;
}


/* Section styles */

section:not(.landing) {
    display: flex;
    padding: 3.5rem 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

section:not(.landing):nth-child(even) {
    background-color: white;
    color: black;
}

section:not(.landing):nth-child(even) [data-bs-toggle="tooltip"] {
    border-bottom: 1px dotted #111739 !important;
}

section:not(.landing):nth-child(odd) {
    background-color: #111739;
    color: white;
}

section:not(.landing):nth-child(odd) [data-bs-toggle="tooltip"] {
    border-bottom: 1px dotted white !important;
}

section:not(.landing) .content {
    max-width: 1100px;
    margin: auto;
}

.section-header-img {
    width: 500px;
    height: auto;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

section:not(.landing):nth-child(even) .section-title {
    color: #111739;
}

section:not(.landing):nth-child(odd) .section-title {
    color: #c0c0c0;
}

.section-subtitle {
    color: #bd1714;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

div:not(.news-posts) .section-title,
div:not(.news-posts) .section-subtitle {
    text-align: center !important;
}

#notfound #content-bg {
    height: 590px;
}

@media only screen and (max-width: 767px) {
    .section-header-img {
        width: 100%;
        height: auto;
    }
}


/* Navbar */

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    background-color: #111739;
    font-family: "Open Sans Condensed", sans-serif !important;
    font-size: 1.75rem;
    height: 75px;
    padding: 1rem 0;
}

nav .container-fluid {
    height: auto;
    padding: 0 1rem !important;
}

.navbar-brand {
    height: 40px;
    width: auto;
    padding: unset !important;
}

.navbar-brand img {
    height: inherit;
    width: auto;
}

.navbar-toggler {
    margin: unset !important;
    padding: unset !important;
    border: unset !important;
}

.navbar-toggler-icon img {
    width: inherit;
    height: inherit;
}

@media only screen and (max-width: 991px) {
    .navbar-collapse.collapsing,
    .navbar-collapse.collapse.show {
        position: absolute;
        width: 100%;
        top: 75px;
        left: 0;
        padding: 0 1rem;
        background-color: #bd1714;
        z-index: 100;
    }
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

@media only screen and (max-width: 991px) {
    .navbar-nav .dropdown-menu {
        margin-bottom: 1rem !important;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-nav .dropdown-menu {
        top: 63px !important;
    }
}

.navbar-nav .dropdown-item:active {
    background-color: #adb5bd !important;
}

.navbar-nav .dropdown-item.disabled {
    color: #adb5bd !important;
}

.nav-link {
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out;
}

header.scroll-top {
    position: static;
    background-color: rgba(0, 0, 0, 0.5);
}

header.scroll-top nav {
    background-color: transparent !important;
}

header.scroll-top .nav-link {
    color: white !important;
    transition: color 0.25s ease-in-out;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus,
header.scroll-top .nav-link.active,
header.scroll-top .nav-link:hover,
header.scroll-top .nav-link:focus {
    color: #bd1714 !important;
    transition: color 0.25s ease-in-out;
}

@media only screen and (max-width: 991px) {
    .nav-link.active,
    .nav-link:hover,
    .nav-link:focus,
    header.scroll-top .nav-link.active,
    header.scroll-top .nav-link:hover,
    header.scroll-top .nav-link:focus {
        color: #111739 !important;
        transition: color 0.25s ease-in-out;
    }
}

#header-clear {
    display: none;
    height: 75px;
}

#lang-selector::after {
    color: #808080;
}


/* Footer */

footer {
    display: flex;
    position: relative;
    background-color: #111739;
    color: white !important;
    padding: 1rem;
    justify-content: space-between;
    border-top: 1px solid black;
}

footer p {
    display: inline-block;
    margin: unset;
}

@media only screen and (max-width: 767px) {
    footer {
        flex-direction: column;
    }
    footer p:last-child {
        margin-top: 1rem;
    }
}


/* Main elements */

a {
    color: #bd1714 !important;
    text-decoration: none !important;
    transition: color 0.15s ease-in-out;
}

a:hover,
a:focus {
    color: #e7201d !important;
    transition: color 0.15s ease-in-out;
}

a.blank-link {
    color: inherit !important;
    text-decoration: none !important;
    transition: none;
}

a.blank-link:hover,
a.blank-link:focus {
    color: none !important;
    transition: none;
}

#home .content,
#about .content,
#features .content,
#features-list .content,
#resources .content {
    opacity: 0;
    transform: scale(0.8);
    transition: transform 1s;
    transition-property: opacity, transform;
    transition-timing-function: ease;
}


/* Top section */

.landing {
    color: white !important;
}

.landing #content-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    min-height: 400px;
    padding: 2.5rem;
}

.landing .logo {
    width: 300px;
    height: auto;
}

.landing h1 {
    text-transform: uppercase;
    font-weight: 600 !important;
}

.landing .caption {
    font-size: 1.75rem;
}

.landing h1,
.landing .caption {
    text-align: center !important;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5))
}

.landing .content {
    display: flex;
    min-height: inherit;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing video {
    width: 800px;
    height: auto;
    margin: 2rem 0;
}

.landing [data-bs-toggle="tooltip"] {
    border-bottom: 1px dotted white !important;
}

@media only screen and (max-width: 991px) {
    .landing #content-bg {
        min-height: unset;
    }
    .landing .content {
        margin: 3rem 0;
    }
    .landing video {
        width: 100%;
        height: auto;
    }
}


/* Features section */

.features-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-list img {
    height: 250px;
    width: auto;
}

.features-list ul {
    width: 65%;
    text-align: left;
    font-size: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .features-list {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .features-list img {
        margin-bottom: 2rem;
    }
    .features-list ul {
        width: 100%;
    }
}

#features-list .content {
    display: flex;
    flex-wrap: wrap;
}

.features-box {
    width: 50%;
    height: 350px;
    padding: 0 1rem;
}

.features-box img {
    height: 100px;
    width: auto;
}

.features-box h3 {
    font-weight: 700;
    margin: 1rem 0;
    text-align: center !important;
}

.features-box p {
    margin: unset;
    text-align: left;
}

@media only screen and (max-width: 991px) {
    .features-box {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
}


/* Resources section */

.resources-list {
    display: flex;
}

.resources-list img {
    height: 100px;
    width: auto;
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
}

.resources-list img:hover,
.resources-list img:focus {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

@media only screen and (max-width: 767px) {
    .resources-list {
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    .resources-list {
        justify-content: space-evenly;
    }
}


/* Project Sandstorms section */

#sandstorms .content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#sandstorms p {
    text-align: center !important;
}

#sandstorms .logos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sandstorms .logos #pmu {
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 767px) {
    #sandstorms .logos {
        flex-direction: column;
    }
    #sandstorms .logos #pmfcfs {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    #sandstorms .logos {
        justify-content: center;
        align-items: center;
    }
    #sandstorms .logos img {
        margin: 0 1rem;
    }
    #sandstorms .logos #pmfcfs {
        height: 77px;
        width: auto;
    }
}

@media only screen and (max-width: 991px) {
    #sandstorms .content {
        flex-direction: column;
        align-items: center;
    }
    #sandstorms-carousel img {
        width: 100%;
        height: auto;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #bd1714;
    }
}

@media only screen and (min-width: 992px) {
    #sandstorms .content {
        justify-content: space-between;
        align-items: flex-start;
    }
    #sandstorms-carousel img {
        width: 60%;
        height: auto;
    }
}


/* Contact section */

#contact .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#contact .contact-details,
#contact .contact-form {
    width: 50%;
}

@media only screen and (max-width: 991px) {
    #contact .content {
        flex-direction: column;
    }
    #contact .contact-details,
    #contact .contact-form {
        width: 100%;
        margin: 1rem 0;
    }
}

#contact .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
}

#contact .contact-form textarea {
    height: 200px;
}

#contact .form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#contact .form-row label {
    width: 48%;
}

@media only screen and (max-width: 991px) {
    #contact .form-row {
        flex-direction: column;
        margin-bottom: unset;
    }
    #contact .form-row label {
        width: 100%;
        margin-bottom: 1rem;
    }
}

#contact .contact-form button[type=submit] {
    background-color: #111739;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

#contact .contact-form button[type=submit]:hover,
#contact .contact-form button[type=submit]:focus {
    background-color: #bd1714;
    transition: background-color 0.2s ease-in-out;
}

#contact-form-error,
#contact-form-success {
    display: none;
    color: #bd1714;
}