p,
ul,
li,
.news-posts,
.news-card-title,
.news-card-cat-date,
.post-header h1,
.post-header .caption,
.post-info,
section:not(.landing) .content-head .section-title,
section:not(.landing) .content-head .section-subtitle {
    text-align: right !important;
}

.navbar-logo.me-auto {
    margin-right: unset !important;
}

.btn.btn-scroll-top {
    right: unset !important;
    left: 2rem;
}

input {
    direction: rtl !important;
}

.carousel-control-next {
    right: unset !important;
    left: 0 !important;
}

.carousel-item {
    margin-inline-start: unset !important;
    margin-left: unset !important;
}

#features>img {
    right: unset !important;
    left: 5%;
}