<!-- vue-leaflet -->
<template>
    <div class='feature-marker-popover'>
        <div class='feature-marker-popover-content'>
            <h1>{{ feature.name }}</h1>
            <p>{{ feature.description }}</p>
            <p><small><a href='http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'>UK Open Government License</a></small></p>
        </div>
    </div>
</template>

<script>
    import L from 'leaflet';
    import {DeferredReadyMixin} from '../../deferredReady'

    export default {
        mixins: [DeferredReadyMixin],
        props: {
            feature: {default: null},
            health: {default: 100}
        },

        created() {
            this.$map = null;
            this.$on('map-ready',
                function (map) {
                    this.$map = map;
                }
            );
        },

        data () {
            return {
                prepared: false,
                icons: {
                    'bus-stop': {
                        normal: L.icon({
                            iconUrl: '/images/leaflet/normal/marker-icon.png',
                            iconRetinaUrl: '/images/leaflet/normal/marker-icon-2x.png',
                            shadowUrl: '/images/leaflet/normal/marker-shadow.png',
                            iconSize:    [25, 41],
                            iconAnchor:  [12, 41],
                            popupAnchor: [1, -34],
                            tooltipAnchor: [16, -28],
                            shadowSize:  [41, 41]
                        }),
                        warn: L.icon({
                            iconUrl:  '/images/leaflet/alert/marker-icon.png',
                            iconRetinaUrl:  '/images/leaflet/alert/marker-icon-2x.png',
                            shadowUrl: '/images/leaflet/alert/marker-shadow.png',
                            iconSize:    [25, 41],
                            iconAnchor:  [12, 41],
                            popupAnchor: [1, -34],
                            tooltipAnchor: [16, -28],
                            shadowSize:  [41, 41]
                        })
                    },
                    'street-light': {
                        normal: L.icon({
                            iconUrl: '/images/leaflet/lighting/marker-icon.png',
                            iconSize:    [25, 25],
                            iconAnchor:  [12, 12],
                            tooltipAnchor: [12, 12]
                        }),
                        warn: null
                    },
                    'park': {
                        normal: L.icon({
                            iconUrl: '/images/leaflet/park/marker-icon.png',
                            shadowUrl: '/images/leaflet/park/marker-shadow.png',
                            iconSize:    [48, 82],
                            iconAnchor:  [24, 82],
                            shadowAnchor:  [15, 68],
                            tooltipAnchor: [24, 82],
                            shadowSize: [59, 66]
                        }),
                        warn: L.icon({
                            iconUrl: '/images/leaflet/park/marker-icon-alert.png',
                            shadowUrl: '/images/leaflet/park/marker-shadow.png',
                            iconSize:    [48, 82],
                            iconAnchor:  [24, 82],
                            shadowAnchor:  [15, 68],
                            tooltipAnchor: [24, 82],
                            shadowSize: [59, 66]
                        }),
                    },
                    'sports-facility': {
                        normal: L.icon({
                            iconUrl: '/images/leaflet/sports-facility/marker-icon.png',
                            shadowUrl: '/images/leaflet/sports-facility/marker-shadow.png',
                            iconSize:    [48, 82],
                            iconAnchor:  [24, 82],
                            shadowAnchor:  [15, 68],
                            tooltipAnchor: [24, 82],
                            shadowSize: [59, 66]
                        }),
                        warn: L.icon({
                            iconUrl: '/images/leaflet/sports-facility/marker-icon-alert.png',
                            shadowUrl: '/images/leaflet/sports-facility/marker-shadow.png',
                            iconSize:    [48, 82],
                            iconAnchor:  [24, 82],
                            shadowAnchor:  [15, 68],
                            tooltipAnchor: [24, 82],
                            shadowSize: [59, 66]
                        }),
                    },
                    'industrial-heritage': {
                        normal: L.icon({
                            iconUrl: '/images/leaflet/industrial-heritage/marker-icon.png',
                            shadowUrl: '/images/leaflet/industrial-heritage/marker-shadow.png',
                            iconSize:    [24, 41],
                            iconAnchor:  [24, 41],
                            shadowAnchor:  [20, 34],
                            tooltipAnchor: [12, 41],
                            shadowSize: [29, 33]
                        }),
                        warn: L.icon({
                            iconUrl: '/images/leaflet/industrial-heritage/marker-icon-alert.png',
                            shadowUrl: '/images/leaflet/industrial-heritage/marker-shadow.png',
                            iconSize:    [24, 41],
                            iconAnchor:  [24, 41],
                            shadowAnchor:  [20, 34],
                            tooltipAnchor: [12, 41],
                            shadowSize: [29, 33]
                        }),
                    },
                    'my-school': {
                        normal: L.icon({
                            iconUrl: '/images/leaflet/my-school/marker-icon.png',
                            shadowUrl: '/images/leaflet/my-school/marker-shadow.png',
                            iconSize:    [96, 164],
                            iconAnchor:  [42, 164],
                            shadowAnchor:  [40, 136],
                            tooltipAnchor: [48, 164],
                            shadowSize: [118, 132]
                        }),
                        warn: L.icon({
                            iconUrl: '/images/leaflet/my-school/marker-icon.png',
                            shadowUrl: '/images/leaflet/my-school/marker-shadow.png',
                            iconSize:    [96, 164],
                            iconAnchor:  [42, 164],
                            shadowAnchor:  [40, 136],
                            tooltipAnchor: [48, 164],
                            shadowSize: [118, 132]
                        }),
                    },
                    'unexplored-cultural-heritage': {
                        normal: L.icon({
                            iconUrl: '/images/leaflet/unexplored-cultural-heritage/marker-icon.png',
                            shadowUrl: '/images/leaflet/unexplored-cultural-heritage/marker-shadow.png',
                            iconSize:    [48, 82],
                            iconAnchor:  [24, 82],
                            shadowAnchor:  [15, 68],
                            tooltipAnchor: [24, 82],
                            shadowSize: [59, 66]
                        }),
                        warn: L.icon({
                            iconUrl: '/images/leaflet/unexplored-cultural-heritage/marker-icon-alert.png',
                            shadowUrl: '/images/leaflet/unexplored-cultural-heritage/marker-shadow.png',
                            iconSize:    [48, 82],
                            iconAnchor:  [24, 82],
                            shadowAnchor:  [15, 68],
                            tooltipAnchor: [24, 82],
                            shadowSize: [59, 66]
                        }),
                    }
                }
            };
        },

        deferredReady() {
            this.$bus.$emit('register-component', this);
            var imagePath = "/images/leaflet/normal";

            L.Icon.Default.imagePath = imagePath;

            this.prepared = true;
        },

        methods: {
            regenerate() {
                if (this.prepared) {
                    if (this.marker) {
                        this.$map.removeLayer(this.marker);
                        this.marker = null;
                    }

                    var iconset = this.icons[this.feature.type.slug];

                    var icon = iconset.normal;

                    if (this.health < 90.0) {
                        icon = iconset.warn;
                    }

                    if (icon) {
                        var options = {
                            title: this.feature.name,
                            icon: icon
                        }

                        /* Laravel Postgis is reverse coords */
                        var x = this.feature.location.coordinates[1];
                        var y = this.feature.location.coordinates[0];

                        var emit = this.$emit;
                        var marker = L.marker([x, y], options).addTo(this.$map).on('click', this.popover);
                        this.marker = marker;
                        /* this.marker.bindPopup('Hello'); */
                    }
                }
            },

            popover() {
                this.$emit('popover', this.$el.children[0].innerHTML);
            }
        },

        watch: {
            prepared: function () {
                this.regenerate();
            },
            feature: function() {
                this.regenerate();
            },
            health: function() {
                this.regenerate();
            }
        }
    }
</script>

<style>
    .feature-marker-popover {
        display: none
    }
</style>
