<!-- vue-leaflet -->
<template>
  <div id="map">
    <slot></slot>
  </div>
</template>

<script>
    import Q from 'q';
    import Vue from 'vue'
    import {DeferredReadyMixin} from '../../deferredReady.js'
    import {DeferredReady} from '../../deferredReady.js'
    import L from 'leaflet';
    Vue.use(DeferredReady);

    export default{
      mixins:[DeferredReadyMixin],
      props:['center','zoom','minZoom','maxZoom'],
      created(){
        this.mapCreatedDefered = new Q.defer();
        this.mapCreated = this.mapCreatedDefered.promise; 

        var map = this
        this.$bus.$on('register-component', function (child) {
          if (!map.mapObject)
            throw new Error("Map not initialized");
          child.$emit('map-ready', map.mapObject);
          // Simpler: child.$map = mapObject but not so
          // modular
        })

      },
      mounted(){
        this.mapObject = L.map("map",{
          center:this.center,
          zoom:this.zoom,
          minZoom:this.minZoom,
          maxZoom:this.maxZoom
        })
      },
    }
</script>
<style type="text/css">
  #map {
    height: 100%;
    width: 100%;
  }
</style>
