<!-- vue-leaflet -->
<template>
</template>

<script>
    import MapComponent from './mapComponent';
    import L from 'leaflet';
    import {DeferredReadyMixin} from '../../deferredReady'

    export default {
        mixins: [DeferredReadyMixin],
        props: ["position", "opacity", "title"],
        created() {
            this.$map = null;
            this.$on('map-ready',
                function (map) {
                    this.$map = map;
                }
            );
        },
        deferredReady() {
            this.$bus.$emit('register-component', this);
            L.Icon.Default.imagePath = "../../node_modules/leaflet/dist/images";
            var options = {
                opacity: this.opacity,
                title: this.title
            }
        },
        events: {
            "bindPopup": function(popupContent) {
                this.$lmarker.bindPopup(popupContent)
            }
        }
    }
</script>
