<template>
    <div class="leaflet-panel">
        <div class="modal-content">
            <div class="modal-header" :style="{backgroundColor: color}">
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="newsticker-control text-center">
                <button class='btn btn-sm' id='prev-button'>&#x25B2;</button>
            </div>
            <div class="modal-body">
                <ul class="newsticker">
                    <slot></slot>
                </ul>
            </div>
            <div class="newsticker-control text-center">
                <button class='btn btn-sm' id='next-button'>&#x25BC;</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {DeferredReadyMixin} from '../../deferredReady'

    export default {
        mixins: [DeferredReadyMixin],
        props: {
            feature: {default: null},
            title: {default: 'NEWS'},
            color: {default: '#ed1c24'},
            autostart: {default: 0}
        },

        created() {
            this.$map = null;
            this.$on('map-ready',
                function (map) {
                    this.$map = map;
                }
            );
        },

        data () {
            return {
                prepared: false
            };
        },

        deferredReady() {
            this.$bus.$emit('register-component', this);
            this.prepared = true;
        },

        methods: {
            regenerate() {
                if (this.prepared) {
                    if (this.feed) {
                        this.feed = null;
                    }
                    this.feed = true;
                }
            }
        },

        mounted() {
            this.$nextTick(function () {
                var prev = $(this.$el).find('#prev-button');
                var next = $(this.$el).find('#next-button');
                var newsticker = $(this.$el).find('.newsticker');
                newsticker.ready(function () {
                    newsticker.newsTicker({
                        row_height: 160,
                        max_rows: 1,
                        autostart: 0,
                        prevButton:  prev,
                        nextButton:  next,
                        pauseOnHover: 1
                    });
                });
            });

        },

        watch: {
            prepared: function () {
                this.regenerate();
            }
        },

        components: {
        },

        computed: {
        }
    }
</script>

<style>
    .leaflet-panel .modal-header {
        color: #ffffff;
    }

    .newsticker li {
        list-style: none
    }

    .newsticker-control {
        font-size: xx-large;
        line-height: 0.7;
    }

    .leaflet-panel .modal-body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    ul.newsticker {
        padding-left: 0px;
        padding-right: 0px;
    }

    ul.newticker li {
        height: 160px;
    }

</style>
