<template>
    <div class="leaflet-popover">
        <div class="leaflet-popover-container" v-on:click='$emit("hide")'>
            <img src='/images/leaflet/popover-notification.png' />
            <div class="leaflet-popover-image">
            </div>
            <div class="leaflet-popover-text" v-html="content">
            </div>
        </div>
    </div>
</template>

<script>
    import {DeferredReadyMixin} from '../../deferredReady'

    import notification from './newsticker/Notification.vue'
    import newsflash from './newsticker/Newsflash.vue'
    import socialMedia from './newsticker/SocialMedia.vue'

    export default {
        mixins: [DeferredReadyMixin],
        props: {
            content: {default: ''}
        },

        created() {
        },

        data () {
            return {
            };
        },

        deferredReady() {
            this.$bus.$emit('register-component', this);
            this.prepared = true;
        },

        methods: {
        },

        mounted() {
        },
    }
</script>

<style>
    .leaflet-popover {
        position: absolute;
        top: 5%;
        right: 100px;
        z-index: 10;
    }

    .leaflet-popover p {
        font-size: medium;
        padding-left: 5px;
    }

    .leaflet-popover-container {
        position: relative;
    }

    .leaflet-popover-image {
        position: absolute;
        width: 308px;
        height: 308px;
        bottom: 246px;
        left: 76px;
        z-index: -1;
        background-image: url('/images/sample/Warrenpoint_and_Rostrevor_Tramway.jpg');
        background-size: cover;
    }

    .leaflet-popover-text {
        position: absolute;
        max-width: 174px;
        height: 358px;
        bottom: 194px;
        left: 460px;
        z-index: 1;
        color: white;
    }

    .leaflet-popover-text a {
        color: white;
        font-weight: bold;
    }

</style>
