<template>
    <div class="leaflet-popover-plain">
        <div class="leaflet-popover-plain-container" v-on:click='$emit("hide")'>
            <div class="leaflet-popover-plain-text" v-html="content">
            </div>
        </div>
    </div>
</template>

<script>
    import {DeferredReadyMixin} from '../../deferredReady'

    export default {
        mixins: [DeferredReadyMixin],
        props: {
            content: {default: ''}
        },

        created() {
        },

        data () {
            return {
            };
        },

        deferredReady() {
            this.$bus.$emit('register-component', this);
            this.prepared = true;
        },

        methods: {
        },

        mounted() {
        },
    }
</script>

<style>
    .leaflet-popover-plain {
        position: absolute;
        top: 5%;
        right: 100px;
        z-index: 10;
        width: 40%;
        background-color: #3e8cd3;
        border-radius: 40px 40px;
        height: 80%;
        box-shadow: 10px 3px 10px #3e3c83;
    }

    .leaflet-popover-plain p {
        font-size: medium;
        padding-left: 5px;
    }

    .leaflet-popover-plain-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .leaflet-popover-plain-text {
        color: white;
        padding: 30px;
        font-size: medium;
    }

    .leaflet-popover-plain-text a {
        color: white;
        font-weight: bold;
    }

</style>
