<!-- vue-leaflet -->
<template>
</template>

<script>
    import {DeferredReadyMixin} from '../../deferredReady'

    import {
        popup
    } from 'leaflet'

    export default {
        mixins: [DeferredReadyMixin],
        props: [''],

        created() {
            this.$map = null;
            this.$on('map-ready',
                function (map) {
                    this.$map = map;
                console.log('map');
                }
            );
        },

        deferredReady() {
            this.$bus.$emit('register-component', this);
            this.$emit('bind-popup', "Test");
            this.prepared = true;
        }
    }
</script>
