<template>
</template>

<script>
import MapComponent from './mapComponent';
import L from 'leaflet';
import leafletProviders from 'leaflet-providers';
import {DeferredReadyMixin} from '../../deferredReady'
export default {
    props:['attribution', 'provider'],
    mixins: [DeferredReadyMixin],
    created() {
        this.$map = null;
        this.$on('map-ready',
            function (map) {
                this.$map = map;
            }
        );
    },
    deferredReady() {
        this.$bus.$emit('register-component', this);
        /*L.tileLayer(this.url,{attribution:this.attribution}).addTo(this.$map);*/
        L.tileLayer.provider(this.provider).addTo(this.$map);
    }
};
</script>
