{% include header.html %}
    <main>
        <img class="logo" src="/assets/img/logos/logo-text-light.svg" />
        <div class="content">      
            <h1>Our chaotic world in context</h1>
            <p class="caption">Bring home the impact of natural disasters</p>
            <video autoplay loop muted controls>
                <source type="video/webm" src="/assets/video/flower.webm">
                <source type="video/mp4" src="/assets/video/flower.mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <a href="/home.html"><button class="enter">Enter site</button></a>
    </main>
{% include footer.html %}