---
layout: default
---
        <section class="landing">
            <div id="content-bg">
                <div class="content">
                    <h1>News</h1>
                    <p class="caption">Keep up to date with our latest news.</p>
                </div>
            </div>
        </section>
        <section class="news-posts light">
            <div class="content">
                <h2>All posts tagged "<span class="capitalize">{{ page.tag }}</span>"</h2>
                {% for post in page.posts %}
                    {% include list-story.html %}
                {% endfor %}
            </div>
        </section>