<template>
    <div class="v-timeline" :style="wrapStyle">
        <div class="vtime-type">
            <img :id="item" v-for="item in items" :src="imgHander(item)"
                  @click = "typeClick(item,$event)"
                  @mouseover="typeMover(item,$event)"
                  @mouseout="typeMout(item,$event)" />
        </div>
        <div class="vtime-line" >
            <div class="vtimeContainer" >
            </div>
        </div>
    </div>
</template>
<script>
import Timelinepick from "./timelinepick"
export default {
    props:{
        option:{
            type:Object,
            require:true,
            default:function(){
              return {
              }
            }
        },
        width:{
            type:Number,
            required: false,
            default:800
        },
        height:{
            type :Number,
            required: false,
            default:100
        },
        handler:{
            required: false
        }
    },
    data(){
        return {
            activeType: "quarter",
            items:["quarter","hour","date"],
            wrapStyle:{
                width : this.width +"px",
                height : this.height +"px"
            }
        }
    },
    mounted(){
         this.itemMagicHover(this.$el.querySelector("#"+this.activeType))
         this.option.el = this.$el.querySelector(".vtimeContainer");
         this.option.parent = this.option.el.parentNode ;
         this.option.callback = this.handler;
         this.wrapStyle.width =  this.width +"px" ;
         this.timelinepick = new Timelinepick(this.option)
    },
    methods :{
        typeClick(vtype,e){
            if(e.target.id == this.activeType )return
            this.itemMagicHover(e.target)
            this.itemMagicOver(this.$el.querySelector("#"+this.activeType))
            this.activeType = vtype;
            this.timelinepick.setType(vtype)
        },
        itemMagicHover(target){
            TweenMax.to(target, 0.2, {alpha : 1, scaleX : 1.5, scaleY : 1.5});
        },
        itemMagicOver(target){
            TweenMax.to(target, 0.2, {alpha : 0.5, scaleX : 1, scaleY : 1});
        },
        typeMover(vtype,e){
            this.itemMagicHover(e.target)
        },
        typeMout(vtype,e){
            if(e.target.id == this.activeType)return
            this.itemMagicOver(e.target)
        },
        imgHander(item){
            var url = "/images/timeline/"
            if(item == "quarter") {
                url += "15w"
            }else if(item == "hour") {
                url += "60w"
            }else {
                url += "24w"
            }
            url +=".png"
            return url;
        }
    }
}
</script>

<style scoped>
.v-timeline{
    display: inline-block;
   }

.vtime-type{
    width: 20%;
    padding-top: 40px;
    min-width: 200px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}
.vtime-line{
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.vtime-type img{
    margin-left: 25px;
    margin-top: 5px;
    width : 35px;
    height : 30px;
    cursor: pointer;
}
</style>
